* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f9ff;
  .form-group {
    max-width: 360px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
